.logo {
    width: 50%;
    height: auto;
  }
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
  }
  
  .left-side, .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .left-side {
    background-color: #337ab7;
    color: white;
    text-align: center;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  .right-side {
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .user-icon-container {
    margin-bottom: 20px;
  }
  
  .user-icon {
    width: 30%;
    height: auto;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .hyperlink-images {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  
  .hyperlink-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    cursor: pointer;
    padding-top: 100px;
  }

  .hyperlink-image2 {
    width: 100px; /* Adjust size as needed */
    height: auto;
    cursor: pointer;
    padding-top: 100px;
  }
  
  .hyperlink-image:hover {
    opacity: 0.8;
  }